<ul class="breadcrumb">
    {# BACK TO VISITORS MANAGER #}
    {% if filter != 1 or visitorMetrics != null %}
        <li>
            <a class="selector-button btn-small" href={{ path('admin_visitor_manager', {'page': page}) }}>
                <strong><i class="fa fa-arrow-left" aria-hidden="true"></i></strong>
            </a>
        </li>  
    {% endif %}
    
    {# VIEW UNFILTERED VISITORS #}
    <li>
        <a class="selector-button btn-small" href={{ path('admin_database_browser', {'table': 'visitors', 'page': page }) }}>
            <strong><i class="fa fa-database" aria-hidden="true"></i></strong>
        </a>
    </li>  

    {# DELETE ALL VISITORS #}
    <li>
        <a class="selector-button btn-small" href={{ path('admin_visitor_delete', {'page': page}) }}>
            <strong><i class="fa fa-trash" aria-hidden="true"></i></strong>
        </a>
    </li>
    
    {# EXPORT VISITORS LIST #}
    <li>
        <a class="selector-button btn-small" href={{ path('admin_visitor_manager_download') }}>
            <strong><i class="fa fa-download" aria-hidden="true"></i></strong>
        </a>
    </li>

    {# ENABLE ONLINE FILTER #}
    {% if filter == 1 %}
        <li>
            <a class="selector-button btn-small" href={{ path('admin_visitor_manager', {'page': 1, 'filter': 'online'}) }}>
                <strong><i class="fa fa-plug" aria-hidden="true"></i></strong>
            </a>
        </li>
    {% endif %}

    {# LINK TO VISITORS METRICS #}
    {% if visitorMetrics == null %}
        <li>
            <a class="selector-button btn-small" href={{ path('admin_visitor_manager_metrics') }}>
                <strong><i class="fa fa-chart-bar" aria-hidden="true"></i></strong>
            </a>
        </li>
    {% endif %}

    {# METRICS TIME PERIOD SELECTOR #}
    {% if visitorMetrics != null %}
        <li class="count-text-in-menu time-period-select">
            <label for="time-period">Time period:</label>
            <select id="time-period" onchange="updateTimePeriod()">
                <option value="all_time">All time</option>
                <option value="last_week" selected>Last week</option>
                <option value="last_month">Last month</option>
                <option value="last_year">Last year</option>
            </select>

            <script>
                // update time period in url
                function updateTimePeriod() {
                    const select = document.getElementById('time-period');
                    const selectedValue = select.value;
                    window.location.search = `?time_period=${selectedValue}`;
                }

                // select selecton value from url
                function setSelectedValue() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const timePeriod = urlParams.get('time_period');
                    const select = document.getElementById('time-period');

                    // set selected value
                    if (timePeriod) {
                        select.value = timePeriod;
                    }
                }

                // init select value
                window.onload = setSelectedValue;
            </script>
        </li>
    {% endif %}

    {# STATS COUNTER #}
    {% if onlineVisitors != null %}
        <li class="count-text-in-menu">
            Online visitors: <strong>{{ onlineVisitors|length }}</strong>,
            Banned visitors: <strong>{{ bannedCount }}</strong>
        </li>
    {% endif %}
</ul>
