<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ asset('build/images/favicon.png') }}" type="image/x-icon"/>    
    {{ encore_entry_script_tags('code-paste-js') }}
    {{ encore_entry_link_tags('atom-one-dark-css') }}
    {{ encore_entry_link_tags('paste-view-css') }}
    {{ encore_entry_link_tags('scrollbar-css') }}
    <title>{{ 'code.view.title'|trans }} {{ file|e }}</title>
</head>
<body>
    <pre>
        <code>{{ paste_content|e }}</code>
    </pre>
</body>
</html>
