<div class="container">
    <h1><a href="/admin">Lukáš Bečvář</a></h1>
    <h2>{{ "home.im"|trans }} <span>{{ 'home.main.text'|trans }}</span></h2>
    {# <===== PUBLIC-PAGES-NAVIGATION =====> #}
    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link" href="/">{{ 'navigation.home.link'|trans }}</a></li>
            <li><a class="nav-link" href="/about">{{ 'navigation.about.link'|trans }}</a></li>
            <li><a class="nav-link" href="/projects">{{ 'navigation.projects.link'|trans }}</a></li>
            <li><a class="nav-link" href="/contact">{{ 'navigation.contact.link'|trans }}</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    {# <===== SOCIAL-LINKS =====> #}
    <div class="social-links">
        <a href="{{ instagram_link }}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="{{ twitter_link }}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="{{ github_link }}" target="_blank" class="github"><i class="bi bi-github"></i></a>
        <a href="{{ telegram_link }}" target="_blank" class="telegram"><i class="bi bi-telegram"></i></a>
    </div>
</div>
