{% extends 'common/bases/public-base.twig' %}

{# ADD HEADER CLASS TO NAVIGATION ELEMENT #}
{% block header_class %} header-top {% endblock %}

{% block body %}
<section id="contact" class="contact section-show">
    <div class="container">
        {# CONTACT-INFO #}
        <div class="section-title">
            <h2>{{ 'contact.title'|trans }}</h2>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>{{ 'contact.social.sites.title'|trans }}</h3>
                    <div class="social-links">
                        <a href={{ linkedInLink }} class="twitter" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href={{ instagramLink }} class="instagram" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href={{ twitterLink }} class="twitter" target="_blank">
                            <i class="bi bi-twitter"></i>
                        </a>
                        <a href={{ telegramLink }} class="telegram" target="_blank">
                            <i class="bi bi-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>{{ 'contact.email.me.title'|trans }}</h3>
                    <p><a href="mailto:{{ contactEmail }}" class="email">{{ contactEmail }}</a></p>
                </div>
            </div>
        </div>

        {# CONTACT-FORM #}
        <div class="msg-from mt-4">
            {{ form_start(contactForm) }}

                {% if errorMsg != null %}
                    <div class="error-message">{{ errorMsg|trans }}</div>
                {% endif %}
                {% if successMsg != null %}
                    <div class="sent-message">{{ successMsg|trans }}</div>
                {% endif %}

                {# SET PLACEHOLDERS FOR TRANSLATE #}
                {{ form_widget(contactForm.name, {'attr': {'placeholder': 'contact.form.name.input'|trans}}) }}
                {{ form_widget(contactForm.email, {'attr': {'placeholder': 'contact.form.email.input'|trans}}) }}
                {{ form_widget(contactForm.message, {'attr': {'placeholder': 'contact.from.message.input'|trans}}) }}
                
                {{ form_widget(contactForm) }}                     
                <div class="text-center mt-3">
                    <button type="submit">{{ 'contact.form.submit.button'|trans }}</button>
                </div>
            {{ form_end(contactForm) }}      
        </div>
    </div>
</section>
{% endblock %}
