{% extends 'common/bases/public-base.twig' %}

{# ADD HEADER CLASS TO NAVIGATION ELEMENT #}
{% block header_class %} header-top {% endblock %}

{% block body %}
<section id="projects" class="projects section-show">
    <div class="container">
        <div class="section-title">
            <h2>{{ 'projects.title'|trans }}</h2>
        </div>
        {% if projectsCount != 0 %}
            <div class="row">
                {# <===== OPEN-PROJECTS =====> #}
                <div class="col-lg-6">
                    <h3 class="projects-title">{{ 'projects.open.title'|trans }}</h3>
                    {% for project in openProjects %}
                        <div class="projects-item">
                            <h4>{{ project.name|e }}</h4>
                            <p><em>{{ project.description|e }}</em></p>
                            <p></p><ul>
                                <li>{{ 'projects.project.language'|trans }}: {{ project.technology|e }}</li>
                                <li>{{ 'projects.project.source'|trans }}: <a href={{ project.link|e }} target="_blank">github</a></li>
                            </ul><p></p>
                        </div>
                    {% endfor %}                    
                </div>

                {# <===== CLOSED-PROJECTS =====> #}
                <div class="col-lg-6">
                    <h3 class="projects-title">{{ 'projects.closed.title'|trans }}</h3>
                    {% for project in closedProjects %}
                        <div class="projects-item">
                            <h4>{{ project.name|e }}</h4>
                            <p><em>{{ project.description|e }}</em></p>
                            <p></p><ul>
                                <li>{{ 'projects.project.language'|trans }}: {{ project.technology|e }}</li>
                                <li>{{ 'projects.project.source'|trans }}: <a href={{ project.link|e }} target="_blank">github</a></li>
                            </ul><p></p>
                        </div>
                    {% endfor %}   
                </div>
            </div>  
        {% else %} 
            <center><p>{{ 'projects.list.empty.message'|trans }}</p></center>
        {% endif %}
        <p class="m-3">{{ 'projects.repos.link.description'|trans }}: <a href={{ githubLink|e }} target="_blank">github</a></p>    
    </div>
</div>
</section>
{% endblock %}
