{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    dashboard
{% endblock %}

{% block component %}
<div class="admin-panel">
    {#================================= WARNINGS =================================#}
    <div class="card-phone card text-white mb-3" style="margin-left: 13px; margin-right: 17.5%" id="wrarning-box">
        <div class="card-header">Warnings</div>
        <div class="card-body" id="wraning-elements"> 
            {% if service_dir_exist == false %}
                <p class="card-text"><span class="text-red"><strong>Directory: {{service_dir}} not exist</strong></span></p>
            {% endif %}

            {% if is_web_user_sudo == false %}
                <p class="card-text"><span class="text-red"><strong>Permissions error: please add "{{web_service_username}} ALL=NOPASSWD: ALL" to /etc/sudoers</strong></span></p>
            {% endif %}
            
            {% if is_ssl == false %}
                <p class="card-text"><span class="text-red"><strong>Your session is running on http [non secure connction] please contact web admin for fix it</strong></span></p>
            {% endif %}

            {% if is_maintenance == true %}
                <p class="card-text"><span class="text-red"><strong>Maintenance is enabled!</strong></span></p>
            {% endif %}

            {% if is_dev_mode == true %}
                <p class="card-text"><span class="text-red"><strong>Developer mode is enabled!</strong></span></p>
            {% endif %}

            {% if is_browser_list_exist == false %}
                <p class="card-text text-red"><strong>error to load file browser-list.json in app root</strong></p>
            {% endif %}

            {% if is_services_list_exist == false %}
                <p class="card-text text-red"><strong>error to load file services.json in app root</strong></p>
            {% endif %}

            {% if drive_usage > 89 %}
                <p class="card-text"><span class="text-red"><strong>Used disk space is more than 90% please try clean the file system</strong></span></p>
            {% endif %}

            {% if anti_log_enabled == false %}
                <p class="card-text text-warning"><strong>Logging for your browser is enabled you can disable <a href="/antilog/5369362536">here</a></strong></p>
            {% endif %}
            
            {% if unreaded_logs_count != 0 %}
                <p class="card-text text-warning"><strong>New logs found you can see it <a href="/admin/logs/1">here</a></strong></p>
            {% endif %}

            {% if messages_count != 0 %}
                <p class="card-text text-warning"><strong>New messages found you can see it <a href="#">here</a></strong></p>
            {% endif %}
        </div>
    </div>
    {#================================= SERVICES =================================#}
    <div class="card-phone card text-white mb-3" style="margin-left: 13px; margin-right: 17.5%">
        <div class="card-header">Service status</div>
        <div class="card-body"> 
            <p class="card-text">
                SERVER: 
                <strong>
                    <span class="online-text">Online</span> 
                    <span>
                        [<a href="/admin/dashboard/runner/emergency/shutdown">SHUTDOWN</a>]
                    </span>
                </strong>
            </p>
            {% if services != null %}
                {% for service in services %}
                    {% if service.status == 'starting' %}
                        <p class="card-text">
                            {{service.display_name}}: 
                            <span class="text-info">starting...</span>
                        </p>
                    {% elseif service.status == 'online' %}
                        <p class="card-text">
                            {{service.display_name}}: 
                            <strong>
                                <span class="online-text">Online</span> 
                                <span>
                                    [<a href="/admin/dashboard/runner/{{service.service_name}}/stop">STOP</a>]
                                </span>
                            </strong>
                        </p>
                    {% else %}
                        <p class="card-text">
                            {{service.display_name}}: 
                            <strong>
                                <span class="text-red">Offline</span> 
                                <span>
                                    [<a href="/admin/dashboard/runner/{{service.service_name}}/start">START</a>]
                                </span>
                            </strong>
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {#================================= SYSTEM INFO =================================#}
    <div class="card-phone card text-white mb-3" style="margin-left: 13px; margin-right: 17.5%">
        <div class="card-header">System info</div>
        <div class="card-body">
            <p class="card-text">OS: {{operating_system}}</p>
            <p class="card-text">Kernel: {{kernal_version}}</p>
            <p class="card-text">Arch: {{kernal_arch}}</p>
        </div>
    </div>
    <div class="col-md-10 ">
        <div class="row ">
            <!-- logs counter -->
            <div class="col-xl-2 col-lg-6">
                <div class="card l-bg-cherry">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="/admin/logs/1" class="stats-link">Logs</a> <a href="/antilog/5369362536">.</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{unreaded_logs_count}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- inbox counter -->
            <div class="col-xl-2 col-lg-6">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="/admin/inbox/1" class="stats-link">Messages</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{messages_count}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- todos counter -->
            <div class="col-xl-2 col-lg-6">
                <div class="card l-bg-green-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="#" class="stats-link">Todos</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{todos_count}}
                                </h2>
                             </div>
                         </div>
                    </div>
                </div>
            </div>            
            <!-- images counter -->
            <div class="col-xl-2 col-lg-6">
                <div class="card l-bg-orange-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="/admin/media/browser/1" class="stats-link">Images</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{images_count}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
            <!-- pastes counter -->
            <div class="col-xl-2 col-lg-6">
                <div class="card l-bg-orange-darker">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="#" class="stats-link">Pastes</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{pastest_count}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <!-- visitors counter -->
            <div class="col-xl-2 col-lg-6">
                <div class="card l-bg-cyan-darker">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="/admin/visitors/1" class="stats-link">Visitors</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{visitors_count}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <!-- server uptime -->
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-3">
                            <h5 class="card-title mb-0 text-white">Server uptime</h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-12">
                                <h5 class="text-white d-flex align-items-center mb-3">
                                    {{server_uptime}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <!-- cpu usage -->
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-3">
                            <h5 class="card-title mb-0 text-white">CPU usage [CORE/AVG]</h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-12">
                                <h5 class="text-white d-flex align-items-center mb-0">
                                    <span>{{cpu_usage}}%</span>
                                </h5>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div 
                                class="progress-bar bg-red-custom" role="progressbar" 
                                data-width="{{cpu_usage}}%" 
                                aria-valuenow="{{cpu_usage}}" 
                                aria-valuemin="0" aria-valuemax="100" 
                                style="width: {{cpu_usage}}%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
            <!-- ram usage -->
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-3">
                            <h5 class="card-title mb-0 text-white">Memory usage [RAM]</h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-12">
                                <h5 class="text-white d-flex align-items-center mb-0">
                                    <span>{{ram_usage}}%</span>
                                </h5>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div 
                                class="progress-bar bg-red-custom" role="progressbar" 
                                data-width="{{ram_usage}}%" 
                                aria-valuenow="{{ram_usage}}" 
                                aria-valuemin="0" aria-valuemax="100" 
                                style="width: {{ram_usage}}%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
            <!-- used disk space card -->
            <div class="col-xl-3 col-lg-6">
                <div class="card l-bg-blue-dark">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-3">
                            <h5 class="card-title mb-0 text-white">Disk space</h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-12">
                                <h5 class="text-white d-flex align-items-center mb-0">
                                    <span>{{drive_usage}}%</span>
                                </h5>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div 
                                class="progress-bar bg-red-custom" role="progressbar" 
                                data-width="{{drive_usage}}%" 
                                aria-valuenow="{{drive_usage}}%" 
                                aria-valuemin="0" aria-valuemax="100" 
                                style="width: {{drive_usage}}%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const divElement = document.getElementById('wrarning-box');
        const elements = document.getElementById('wraning-elements');
        if (elements.innerHTML.trim() === '') {
            divElement.style.display = 'none';
        } else {
            divElement.style.display = 'block';
        }
    });
</script>
{% endblock %}
