{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    dashboard
{% endblock %}

{% block component %}
<div class="admin-panel">
    {#================================= WARNINGS =================================#}
    <div class="card-phone card text-white mb-3 dashbord-card" id="wrarning-box">
        <div class="card-header">Warnings</div>
        <div class="card-body" id="wraning-elements"> 
            {% if is_ssl == false %}
                <p class="card-text"><span class="text-red"><strong>Your session is running on http [non secure connction] please contact web admin for fix it</strong></span></p>
            {% endif %}

            {% if is_maintenance == true %}
                <p class="card-text"><span class="text-red"><strong>Maintenance is enabled!</strong></span></p>
            {% endif %}

            {% if is_dev_mode == true %}
                <p class="card-text"><span class="text-red"><strong>Developer mode is enabled!</strong></span></p>
            {% endif %}

            {% if is_browser_list_exist == false %}
                <p class="card-text text-red"><strong>error to load file browser-list.json in app root</strong></p>
            {% endif %}

            {% if anti_log_enabled == false %}
                <p class="card-text text-warning"><strong>Logging for your browser is enabled you can disable <a href="/antilog/5369362536">here</a></strong></p>
            {% endif %}
            
            {% if unreaded_logs_count != 0 %}
                <p class="card-text text-warning"><strong>New logs found you can see it <a href="/admin/logs?page=1">here</a></strong></p>
            {% endif %}

            {% if messages_count != 0 %}
                <p class="card-text text-warning"><strong>New messages found you can see it <a href="/admin/inbox?page=1">here</a></strong></p>
            {% endif %}
        </div>
    </div>
    {#================================= VISITORS INFO =================================#}
    <div class="card-phone card text-white mb-3 dashbord-card">
        <div class="card-header">Visitors info <span>[<a href="/admin/visitors?page=1">table</a>]</span></div>
        <div class="card-body">
            <p class="card-text">Count: {{ visitors_count }}</p>
            <p class="card-text">Online: {{ online_visitors_count }} / Users: {{ online_users_count|length }} <a href="/admin/visitors?page=1&filter=online">view</a></p>
            <p class="card-text">Banned: {{ banned_visitors_count }}</p>
        </div>
    </div>
    {#================================= COUNTER CARDS =================================#}
    <div class="card-phone card text-white mb-3 dashbord-card counter-container">
        <div class="row">
            {# <===== logs counter =====> #}
            <div class="col-xl-4 col-lg-6">
                <div class="card l-bg-cherry counter-card">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="/admin/logs?page=1" class="stats-link">Logs</a> <a href="/antilog/5369362536">.</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{ unreaded_logs_count }}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# <===== inbox counter =====> #}
            <div class="col-xl-4 col-lg-6">
                <div class="card l-bg-blue-dark counter-card">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="/admin/inbox?page=1" class="stats-link">Messages</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{ messages_count }}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            {# <===== visitors counter =====> #}
            <div class="col-xl-4 col-lg-6">
                <div class="card l-bg-cyan-darker counter-card">
                    <div class="card-statistic-3 p-4">
                        <div class="mb-2">
                            <h5 class="card-title mb-0"><a class="card-link" href="/admin/visitors?page=1" class="stats-link">Visitors</a></h5>
                        </div>
                        <div class="row align-items-center mb-0 d-flex">
                            <div class="col-8">
                                <h2 class="text-white d-flex align-items-center mb-0">
                                    {{ visitors_count }}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>    
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const divElement = document.getElementById('wrarning-box');
        const elements = document.getElementById('wraning-elements');
        if (elements.innerHTML.trim() === '') {
            divElement.style.display = 'none';
        } else {
            divElement.style.display = 'block';
        }
    });
</script>
{% endblock %}
