{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    database
{% endblock %}

{% block component %}
<div class="admin-panel">
    {% if user_role != 'Owner' and user_role != 'Admin' %}
        <h2 class="page-title">Sorry you dont have permission to this page</h2>
    {% else %}
        {#=================================== TABLES-LIST ==================================#}
        {% if tables != null %}
            <h2 class="page-title">Select table</h2>
            <br>
            {% for table in tables %}
                {% if table != 'doctrine_migration_versions' %}
                    <a class='db-browser-select-link' href="/admin/database/table?table={{ table }}&page=1">{{ table }}</a>
                    <br><br>
                {% endif %}
            {% endfor %}
        {% else %}
            {#=================================== ROW-EDITOR ===================================#}
            {% if editor_table != null %}
            {% include "admin/elements/database-navigation.html.twig" %}
            {% if error_msg != null %}
                {% include "common/alerts/error-alert.html.twig" %}
            {% endif %}
            <center>
                {% if editor_referer != null %}
                    <form class="db-edit-form dark-table" action="/admin/database/edit?table={{ editor_table }}&page={{ editor_page }}&id={{ editor_id }}&referer={{ editor_referer }}" method="post">
                {% else %}
                    <form class="db-edit-form dark-table" action="/admin/database/edit?table={{ editor_table }}&page={{ editor_page }}&id={{ editor_id }}" method="post">
                {% endif %}
                    <p class="title">Edit {{ editor_table|e }}, row: {{ editor_id|e }}<p></p>
                    {% for field in editor_field %}
                        {% if field != 'id' %}
                            <p class="text-input-title">{{ field|e }}</p>
                            <input class="text-input" type="text" name="{{ field|e }}" value="{{ editor_values[field]|e }}" maxlength="200"><br>
                        {% endif %}
                    {% endfor %}
                    <input class="input-button" type="submit" name="submitEdit" value="Edit">
                </form>
            </center>
            {% else %}
                {#================================= NEW-ROW =================================#}
                {% if new_row_table != null %}
                    {% include "admin/elements/database-navigation.html.twig" %}
                    {% if error_msg != null %}
                        {% include "common/alerts/error-alert.html.twig" %}
                    {% endif %}
                    <center>
                        <form class="db-edit-form dark-table" action="/admin/database/add?table={{ new_row_table|e }}&page={{ new_row_page|e }}" method="post">
                            <p class="title">Add new: {{ new_row_table|e }}<p></p>
                            {% for field in new_row_columns %}
                                {% if field != 'id' %}
                                    <p class="text-input-title">{{ field|e }}</p>
                                    <input class="text-input" type="text" name="{{ field|e }}" placeholder="{{ field|e }}" maxlength="200"><br>
                                {% endif %}
                            {% endfor %}
                            <input class="input-button" type="submit" name="submitSave" value="SAVE">
                        </form>
                    </center>
                {% else %}
                    {#================================= TABLES-BROWSER =================================#}
                    {% if table_name != null %}
                        {% include "admin/elements/database-navigation.html.twig" %}
                        {% if table_data_count == 0 %}
                            <h2 class="page-title">table: '{{ table_name }}' is empty</h2>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table-custom table-dark">
                                    <thead>
                                        <tr class="line-item">  
                                            {% if table_name == 'code_paste' %}
                                                <th cope='col'>Link</th>
                                            {% endif %}
                                            {% for column in table_columns %}
                                                {% if column == 'id' %}
                                                    <th scope='col'>#</th>
                                                {% else %}                                                 
                                                    <th scope='col'>{{ column|e }}</th>
                                                {% endif %}
                                            {% endfor %}
                                            {% if table_name != 'code_paste' and table_name != 'images' and table_name != 'chat_messages' and table_name != 'inbox_messages' and table_name != 'todos' %}
                                                <th cope='col'>Edit</th>
                                            {% endif %}
                                            <th cope='col'>X</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in table_data %}
                                            <tr class="line-item">
                                                {% if table_name == 'code_paste' %}
                                                    <th cope='col'><a href="/paste/view?token={{ row.name|e }}" target="_blank">{{ row.name|e }}</a></th>
                                                {% endif %}
                                                {% for column in table_columns %}
                                                    <th scope='row'>
                                                        {% set content = row[column] | slice(0, 200) %}
                                                        {{ content ~ (row[column] | length > 200 ? '...' : '') }}
                                                    </th>
                                                {% endfor %}
                                                {% if table_name != 'code_paste' and table_name != 'images' and table_name != 'chat_messages' and table_name != 'inbox_messages' and table_name != 'todos' %} 
                                                    <td><a class="text-warning delete-link-todos" href="/admin/database/edit?table={{ table_name }}&page={{ page }}&id={{ row.id|e }}">Edit</a></td>
                                                {% endif %}
                                                <td><a class="delete-link-todos" href="/admin/database/delete?table={{ table_name }}&page={{ page }}&id={{ row.id|e }}">X</a></td>
                                            </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table> 
                            </div>
                            <div class="page-button-box">
                                {% if page != 1 %}
                                    <a class="back-page-button" href="/admin/database/table?table={{ table_name }}&page={{ page - 1 }}">Back</a>
                                {% endif %}
                                {% if limit == table_data_count %}
                                    <a class="back-page-button" href="/admin/database/table?table={{ table_name }}&page={{ page + 1 }}">Next</a>
                                {% endif %}
                            </div>
                            {% if page != 1 or limit == table_data_count %}
                                <br>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
