{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    logs
{% endblock %}

{% block component %}
<div class="admin-panel">
    <ul class="breadcrumb"> 
        <li>
            <a class="selector-button btn-small" href="/admin/database/table?table=logs&page=1"><strong>Unfiltered</strong></a>
        </li>  
        <li>
            <a class="selector-button btn-small" href="/admin/logs/readed/all"><strong>Readed all</strong></a>
        </li> 
        <li>
            <a class="selector-button btn-small" href="/admin/logs/delete?page=1"><strong>Delete all</strong></a>
        </li>    
        <li class="count-text-in-menuR">Logs reader</li>
    </ul>
    <div class="card text-white mb-0 log-reader-info-card">
        <div class="card-header">Basic info</div>
        <div class="card-body">
        <p class="card-text"><strong>Logs count: <span class="text-primary">{{ logs_all_count }}</span> / unreaded: <span class="text-primary">{{ unreeaded_count }}</span></strong></p>
            <p class="card-text"><strong>Login, Logout: <span class="text-primary">{{ login_logs_count }}</span></strong></p>
        </div>
    </div>
    {% if logs_count == 0 %}
        <h2 class="page-title">No relative logs were found</h2>
    {% else %}
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr class="line-item">  
                        <th scope='col'>#</th>
                        <th scope='col'>name</th>
                        <th scope='col'>value</th>
                        <th scope='col'>time</th>
                        <th scope='col'>ip</th>
                        <th scope='col'>browser</th>
                        <th scope='col'>visitor</th>
                        <th cope='col'>X</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in logs_data %}
                            <tr class="line-item">
                                {% if row.name == 'action-runner' or row.name == 'ban-system' or row.name == 'authenticator' or row.name == 'geolocate-error' or row.name == 'system-error' %}
                                    <th scope='row' class='text-red'>{{ row.id|e }}</th>
                                    <th scope='row' class='text-red'>{{ row.name|e }}</th>
                                    <th scope='row' class='text-red'>{{ row.value|e }}</th>
                                    <th scope='row' class='text-red'>{{ row.time|e }}</th>
                                    <th scope='row' class='text-red'>{{ row.ipAddress|e }}</th>
                                    <th scope='row' class='text-red'>{{ row.browser|e }}</th>
                                {% elseif row.name == 'database' %}
                                    <th scope='row' class='text-primary'>{{ row.id|e }}</th>
                                    <th scope='row' class='text-primary'>{{ row.name|e }}</th>
                                    <th scope='row' class='text-primary'>{{ row.value|e }}</th>
                                    <th scope='row' class='text-primary'>{{ row.time|e }}</th>
                                    <th scope='row' class='text-primary'>{{ row.ipAddress|e }}</th>
                                    <th scope='row' class='text-primary'>{{ row.browser|e }}</th>
                                {% elseif row.name == 'code-paste' or row.name == 'image-uploader' or row.name == 'message-sender' or row.name == 'anti-log' or row.name == 'terminal' %}
                                    <th scope='row' class='text-warning'>{{ row.id|e }}</th>
                                    <th scope='row' class='text-warning'>{{ row.name|e }}</th>
                                    <th scope='row' class='text-warning'>{{ row.value|e }}</th>
                                    <th scope='row' class='text-warning'>{{ row.time|e }}</th>
                                    <th scope='row' class='text-warning'>{{ row.ipAddress|e }}</th>
                                    <th scope='row' class='text-warning'>{{ row.browser|e }}</th>
                                {% else %}
                                    <th scope='row'>{{ row.id|e }}</th>
                                    <th scope='row'>{{ row.name|e }}</th>
                                    <th scope='row'>{{ row.value|e }}</th>
                                    <th scope='row'>{{ row.time|e }}</th>
                                    <th scope='row'>{{ row.ipAddress|e }}</th>
                                    <th scope='row'>{{ row.browser|e }}</th>
                                {% endif %}
                                <td>
                                    {% set result = row.visitorId / limit_value %}
                                    {% set visitor_page = result | round(0, 'ceil') %}
                                    <a class="delete-link-todos text-warning" href="/admin/visitors?page={{ visitor_page }}#{{ row.visitorId|e }}">VISIT</a>
                                </td>
                                <td>
                                    <a class="delete-link-todos" href="/admin/database/delete?table=logs&page={{ reader_page }}&id={{ row.id|e }}&referer=log_reader">X</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="page-button-box">
                {% if reader_page != 1 %}
                    {% if where_ip != null %}
                        <a class="back-page-button" href="/admin/logs/whereip?ip={{ where_ip }}&page={{ reader_page - 1 }}">Back</a>
                    {% else %}
                        <a class="back-page-button" href="/admin/logs?page={{ reader_page - 1 }}">Back</a>
                    {% endif %}
                {% endif %}
                {% if reader_limit == logs_count %}
                    {% if where_ip != null %}
                        <a class="back-page-button" href="/admin/logs/whereip?ip={{ where_ip }}&page={{ reader_page + 1 }}">Next</a>
                    {% else %}
                        <a class="back-page-button" href="/admin/logs?page={{ reader_page + 1 }}">Next</a>
                    {% endif %}
                {% endif %}
            </div>
        {% if reader_page != 1 or reader_limit == logs_count %}
            <br>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
