{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    todos
{% endblock %}

{% block component %}
<div class="admin-panel">

    <ul class="breadcrumb">
        
        {# <===== add link to completed todos =====> #}
        {% if completed_list == false %}
            <li>
                <a class="selector-button btn-small" href="/admin/todos/completed"><strong>Completed</strong></a>
            </li>   
        {% endif %} 
        
        <li>
            <a class="selector-button btn-small" href="/admin/todos?category=main"><strong>main</strong></a>
        </li>  
        <li>
            <a class="selector-button btn-small" href="/admin/todos?category=search_list"><strong>search list</strong></a>
        </li>

        {# <===== print todos count =====> #}
        {% if completed_list == false %}
            <li class="count-text-in-menu">{{ todos_count }} todos</li>
        {% endif %} 
    </ul>

    {% if completed_list == false %}
        <div class="new-todo-form">
            {{ form_start(new_todo_form) }}
                {{ form_widget(new_todo_form) }}
                    <button type="submit" class="input-button todo-button">Add</button>
            {{ form_end(new_todo_form) }}
        </div>
    {% endif %}
    {% if todos_data != null %}
        <div class="table-responsive">        
            <table class="todo-table table table-dark {% if completed_list %}todo-table-top-reset{% endif %}">
                <thead>
                    <tr class="line-item">
                        <th scope="col">#</th>
                        <th scope="col">Todo</th>

                        {# <===== print category in completed list =====> #}
                        {% if completed_list == true %}
                            <th scope="col">Category</th>
                        {% endif %} 

                        <th scope="col">X</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos_data %}
                        <tr class="line-item">
                            <th scope='row'>{{ todo.id|e }}</th>
                            <th scope='row'>{{ todo.text|linkify|raw }}</th>
                            
                            {# <===== print category in completed list =====> #}
                            {% if completed_list == true %}
                                <th scope='row'>{{ todo.category|e }}</th>
                            {% endif %} 

                            {# <===== delete link =====> #}
                            <th scope='row'>
                                {% if completed_list %}
                                    <a class='delete-link-todos' href='/admin/database/delete?table=todos&page=1&id={{ todo.id|e }}&referer=todo_manager'>X</a>
                                {% else %}
                                    <a class='delete-link-todos' href='/admin/todos/close?id={{ todo.id|e }}&category={{ todo.category|e }}'>X</a>
                                {% endif %}
                            </th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h2 class="page-title">todo list is empty</h2>
    {% endif %}
</div>
{% endblock %}
