{% extends 'common/bases/admin-base.html.twig' %}

{% block title %}
    visitors
{% endblock %}

{% block component %}
<div class="admin-panel">
    {% if user_role != 'owner' %}
        <h2 class="page-title">Sorry you dont have permission to this page</h2>
    {% else %}
        <ul class="breadcrumb">
            <li>
                <a class="selector-button btn-small" href="/admin/database/visitor/1"><strong>Unfiltered</strong></a>
            </li>  
            <li>
                <a class="selector-button btn-small" href="/admin/visitors/delete/{{page}}"><strong>Delete all</strong></a>
            </li>    
            <li class="count-text-in-menuR">Banned visitors: <strong>{{banned_count}}</strong></li>
        </ul>

        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr class="line-item">  
                        <th scope='col'>#</th>
                        <th scope='col'>Visited</th>
                        <th scope='col'>Visit[first]</th>
                        <th scope='col'>Visit[last]</th>
                        <th scope='col'>Browser</th>
                        <th scope='col'>OS</th>
                        <th scope='col'>Location</th>
                        <th scope='col'>Address</th>
                        <th scope='col'>Banned</th>
                        <th scope='col'>BAN</th>
                        <th scope='col'>X</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in visitors_data %}
                            <tr class="line-item">
                                <th scope='row'>{{row.id}}</th>
                                <th scope='row'>{{row.visitedSites}}</th>
                                <th scope='row'>{{row.firstVisit}}</th>
                                <th scope='row'>{{row.lastVisit}}</th>
                                <th scope='row'>{{row.browser}}</th>
                                <th scope='row'>{{row.os}}</th>
                                <th scope='row'>{{row.location}}</th>
                                <th scope='row'>{{row.ipAddress}}</th>
                                <th scope='row'>{{row.bannedStatus}}</th>
                                <td>
                                    <a class="delete-link-todos text-warning" href="#">BAN</a>
                                </td>
                                <td>
                                    <a class="delete-link-todos" href="/admin/database/delete/{{page}}/visitor/{{row.id}}?referer=visitor_manager">X</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="page-button-box">
                {% if page != 1 %}
                    <a class="back-page-button" href="/admin/visitors/{{page - 1}}">Back</a>
                {% endif %}
                {% if visitors_limit == visitors_count %}
                    <a class="back-page-button" href="/admin/visitors/{{page + 1}}">Next</a>
                {% endif %}
            </div>
        {% if page != 1 or visitors_limit == visitors_count %}
            <br>
        {% endif %}



    {% endif %}
</div>
{% endblock %}
