{% extends 'common/bases/error-base.html.twig' %}

{% block title %}
    {{ 'You are banned'|trans }}
{% endblock %}

{% block body %}
<p class="error-page-msg">
	<strong>
		{% if message != 'non-banned' and message != 'no-reason' %}
			{{ 'You are permanently banned on this site for reason'|trans }}: {{ message|e }}.
		{% else %}
			{{ 'You are permanently banned on this site'|trans }}
		{% endif %}
		<br><br>
		{{ 'Please direct unban requests to'|trans }} {{ contact_email }}
	</strong>
</p>
{% endblock %}
