{% extends 'common/bases/admin-base.twig' %}

{% block title %}
    visitors
{% endblock %}

{# VISITORS MANAGER PAGE COMPONENT #}
{% block component %}
<div class="admin-panel">
    {# SUB NAVIGATION #}
    {% include "admin/element/navigation/visitor-manager-navigation.twig" %}

    {# VISITOR IP INFO COMPONENT #}
    {% if visitorInfoData != null %}
        {# IP INFO CARD #}
        <div class="card-phone card text-white m-3">
            <div class="card-header">
                IP info: <span class="text-warning">{{currentIp}}:</span> <a class="text-info" href={{ path('admin_log_list_whereIp', {'page': 1, 'ip': currentIp}) }}>view logs</a>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% for key, value in visitorInfoData %}
                        <li class="border-bottom py-2">{{ key|capitalize }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {# VISITOR METRICS COMPONENT #}
    {% elseif visitorMetrics != null %}
        {# VISITORS COUNT CHART #}
        <div class="chart-container">
            <div id="chart"></div>
        </div>

        {# METRICS BOXES #}
        <div class="text-white metrics-box-container">
            <div class="row no-gutters">
                {# USED BROWSERS LIST #}
                <div class="col-12 col-md-4 metrics-card"> 
                    <div class="card l-bg-cherry counter-card">
                        <div class="card-statistic p-0">
                            <div class="row align-items-center mb-0 d-flex">
                                <div class="col-12 pb-0">
                                    <table class="table table-dark text-nowrap table-hover custom-header">
                                        <thead>
                                            <tr>
                                                <th>Browser</th>
                                                <th>Visitors count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, row in visitorMetrics.visitorsBrowsers %}
                                                <tr>
                                                    <th>{{ key|e }}</th>
                                                    <th class="text-primary">{{ row|e }}</th>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {# VISITORS COUNTRY LIST #}
                <div class="col-12 col-md-4 metrics-card"> 
                    <div class="card l-bg-blue-dark counter-card">
                        <div class="card-statistic p-0">
                            <div class="row align-items-center mb-0 d-flex">
                                <div class="col-12 pb-0">
                                    <table class="table table-dark text-nowrap table-hover custom-header">
                                        <thead>
                                            <tr>
                                                <th>Country</th>
                                                <th>Visitors count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, row in visitorMetrics.visitorsCountry %}
                                                <tr>
                                                    <th>{{ key|e }}</th>
                                                    <th class="text-primary">{{ row|e }}</th>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  

                {# VISITORS CITIES LIST #}
                <div class="col-12 col-md-4 metrics-card"> 
                    <div class="card l-bg-cyan-darker counter-card">
                        <div class="card-statistic p-0">
                            <div class="row align-items-center mb-0 d-flex">
                                <div class="col-12 pb-0">
                                    <table class="table table-dark text-nowrap table-hover custom-header">
                                        <thead class="metrics-table-header">
                                            <tr>
                                                <th>City</th>
                                                <th>Visitors count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, row in visitorMetrics.visitorsCity %}
                                                <tr>
                                                    <th>{{ key|e }}</th>
                                                    <th class="text-primary">{{ row|e }}</th>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                {# VISITORS REFERERS #}
                <div class="col-12 col-md-4 metrics-card"> 
                    <div class="card l-bg-cyan-darker counter-card">
                        <div class="card-statistic p-0">
                            <div class="row align-items-center mb-0 d-flex">
                                <div class="col-12 pb-0">
                                    <table class="table table-dark text-nowrap table-hover custom-header">
                                        <thead class="metrics-table-header">
                                            <tr>
                                                <th>Referer</th>
                                                <th>Visitors count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key, row in visitorMetrics.visitorsReferers %}
                                                <tr>
                                                    <th>{{ key|e }}</th>
                                                    <th class="text-primary">{{ row|e }}</th>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# INCLUDE VISITORS METRICS CHART SCRIPT #}
        <script>
            window.visitorMetrics = {{ visitorMetrics.visitorsCount|json_encode|raw }}
        </script>
        {{ encore_entry_script_tags('visitors-metrics-js') }}
    {% else %}
        <div class="table-responsive center">
            <table class="table table-dark text-nowrap table-hover custom-header">
                <thead>
                    <tr>  
                        <th scope='col'>#</th>
                        <th scope='col'>Visit(last)</th>
                        <th scope='col'>Browser</th>
                        <th scope='col'>OS</th>
                        <th scope='col'>Location</th>
                        <th scope='col'>Address</th>
                        <th scope='col'>Referer</th>
                        <th scope='col'>Status</th>
                        <th scope='col'>Banned</th>
                        <th scope='col'>BAN</th>
                        <th scope='col'>X</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in visitorsData %}
                            <tr id="{{ row.id|e }}">
                                {# <===== ID =====> #}
                                <th scope='row'>{{ row.id|e }}</th>
                                {# <===== LAST-VISIT-TIME =====> #}
                                <th scope='row'>{{ row.lastVisit|date('Y-m-d H:i:s')|e }}</th>
                                {# <===== BROWSER =====> #}
                                {% if row.browser == 'Unknown' %}
                                    <th scope='row' class='text-red'>{{ row.browser|e }}</th>
                                {% else %}
                                    <th scope='row'>{{ row.browser|e }}</th>
                                {% endif %}
                                {# <===== OS =====> #}
                                {% if row.os == 'Unknown OS' %}
                                    <th scope='row' lass='text-red'>{{ row.os|e }}</th>
                                {% else %}
                                    <th scope='row'>{{ row.os }}</th>
                                {% endif %}
                                {# <===== LOCATION =====> #}
                                {% if row.country|slice(0, 2)|lower == 'cz' %}
                                    <th scope='row' class='text-warning'>{{ row.city|e }} - {{ row.country|e }}</th>
                                {% else %}
                                    {% if row.city == 'Unknown' %}
                                        <th scope='row' class='text-red'>{{ row.city|e }} - {{ row.country|e }}</th>
                                    {% else %}
                                        <th scope='row'>{{ row.city|e }} - {{ row.country|e }}</th>
                                    {% endif %}
                                {% endif %}
                                {# <===== IP-ADDRESS =====> #}
                                {% if row.ipAddress == currentIp %}
                                    <th scope='row'class='text-warning'>
                                        <a href={{ path('admin_visitor_ipinfo', {'ip': row.ipAddress|e}) }} class="log-reader-link text-warning">{{ row.ipAddress|e }}</a>
                                    </th>
                                {% else %}
                                    <th scope='row'>
                                        <a href={{ path('admin_visitor_ipinfo', {'ip': row.ipAddress|e}) }} class="log-reader-link">{{ row.ipAddress|e }}</a>
                                    </th>
                                {% endif %}
                                {# <===== REFERER =====> #}
                                {% if row.referer == 'Unknown' %}
                                    <th scope='row' class='text-red'>{{ row.referer|e }}</th>
                                {% else %}
                                    <th scope='row'>{{ row.referer|e }}</th>
                                {% endif %}
                                {# <===== ONLINE-STATUS =====> #}
                                {% if row.id in onlineVisitors %}
                                    <th scope='row' class='text-success'>online</th>
                                {% else %}
                                    <th scope='row' class='text-red'>offline</th>
                                {% endif %}     
                                {# <===== BANNED-STATUS =====> #}
                                {% if row.bannedStatus %}
                                    <th scope='row' class='text-red'>yes</th>
                                {% else %}
                                    <th scope='row' class='text-success'>no</th>
                                {% endif %}                        
                                {# <===== BUTTONS =====> #}
                                <th>
                                    {% if row.bannedStatus == 'yes' %}
                                        <a class="db-delete-link text-warning" href={{ path('admin_visitor_unban', {'page': page, 'id': row.id|e}) }}>UNBAN</a>
                                    {% else %}
                                        <a class="db-delete-link text-warning" href={{ path('admin_visitor_ban', {'page': page, 'id': row.id|e}) }}>BAN</a>
                                    {% endif %}
                                </th>
                                <th>
                                    <a class="db-delete-link" href={{ path('admin_database_delete', {'table': 'visitors', 'page': page, 'id': row.id|e, 'referer': 'visitor_manager'}) }}>X</a>
                                </th>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="page-button-box">
                {% if page != 1 %}
                    <a class="back-page-button" href={{ path('admin_visitor_manager', {'page': page - 1}) }}>Back</a>
                {% endif %}
                {% if visitorsLimit == visitorsCount and filter == 1 %}
                    <a class="back-page-button" href={{ path('admin_visitor_manager', {'page': page + 1}) }}>Next</a>
                {% endif %}
            </div>
        {% if page != 1 or visitorsLimit == visitorsCount %}
            <br>
        {% endif %}
    {% endif %}
</div>

{# LINE SELECTOR HIGHLIGHT SCRIPT #}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var hash = window.location.hash
        if (hash && hash.startsWith('#')) {
            var id = hash.substring(1)
            var row = document.getElementById(id)

            if (row) {
                var thElements = row.getElementsByTagName('th')
                for (var j = 0; j < thElements.length; j++) {
                    thElements[j].classList.add('highlighter')
                }
            }
        }
    })
</script>
{% endblock %}
