<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{{ asset('build/images/favicon.png') }}" type="image/x-icon"/> 
    {{ encore_entry_link_tags('scrollbar-css') }}
    {{ encore_entry_link_tags('bootstrap-css') }}
    {{ encore_entry_link_tags('fontawesome-css') }}
    {{ encore_entry_link_tags('admin-css') }}
    {# <===== INIT COMPONENT ASSETS (if defined) =====> #}
    {% block component_assets %}{% endblock %}
	<title>Admin | {% block title %}{% endblock %}</title>
</head>
<body>
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<main class="admin-page" id="content" style="display:none;"> 
    <div class="wrapper">
        <div class="section">
            <div class="top-navbar">
                <div class="hamburger">
                    <a href="#"><span class="menu-text">Menu</span><i class="fas fa-bars"></i></a>
                    <a class="logout-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div>
            {% include 'admin/elements/sidebar.html.twig' %}

            {# <===== MAIN ADMIN COMPONENT WRAPPER =====> #}
            {% block component %}{% endblock %}

            <script>

                document.addEventListener("DOMContentLoaded", function () {
                    document.getElementById("loader-wrapper").style.display = "none";
                    document.getElementById("content").style.display = "block";
                });

                function manipulate() {
                    document.querySelector("body").classList.toggle("active");
                }
            
                function sidebarInit() {
                    var body = document.querySelector("body");
                    var hamburger = document.querySelector(".hamburger");
            
                    if (window.innerWidth <= 1024) {
                        body.classList.add("active");
                        hamburger.addEventListener("click", manipulate);
                    } else {
                        body.classList.remove("active");
                        hamburger.removeEventListener("click", manipulate);
                    }
            
                    if (window.innerWidth > 1024) {
                        if (!window.location.href.includes("/admin/dashboard")) {
                            manipulate();
                            hamburger.addEventListener("click", manipulate);
                        }
                    }
                }
            
                sidebarInit();
            
                window.addEventListener('resize', function() {
                    sidebarInit();
                });
            </script>
        </div>
    </div>
</main>
{{ encore_entry_script_tags('update-visitor-status-js') }}
{{ encore_entry_script_tags('bootstrap-js') }}
</body>
</html>
