<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{{ asset('build/images/favicon.png') }}" type="image/x-icon"/> 
    {{ encore_entry_link_tags('scrollbar-css') }}
    {{ encore_entry_link_tags('bootstrap-css') }}
	{{ encore_entry_link_tags('admin-css') }}
	<title>Admin | Login</title>
</head>
<body>
<main class="admin-page"> 
    <div class="wrapper">
		{% block component %}{% endblock %}
    </div>
</main>
{{ encore_entry_script_tags('update-visitor-status-js') }}
{{ encore_entry_script_tags('bootstrap-js') }}
</body>
</html>
