<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Lukáš Bečvář AKA Lordbecvold personal website" name="description">
    <meta content="developer, lordbecvold, php, web, website, programator, css, designer, java, coder, projects, lukas, becvar, lukasbecvar, lukas becvar, lukáš bečvář, lukáš, bečvář" name="keywords">
	<link rel="icon" href="{{ asset('build/images/favicon.png') }}" type="image/x-icon"/> 
    {{ encore_entry_link_tags('scrollbar-css') }}
    {{ encore_entry_link_tags('bootstrap-css') }}
    {{ encore_entry_link_tags('bootstrap-icons-css') }}
    {{ encore_entry_link_tags('boxicons-css') }}
    {{ encore_entry_link_tags('public-css') }}
	<title>Lukáš Bečvář</title>
</head>
<body>
<header id="header" class={% block header_class %}{% endblock %}>
    {% include "public/elements/navigation.html.twig" %}
</header>
{% block body %}{% endblock %}
{{ encore_entry_script_tags('bootstrap-js') }}
{{ encore_entry_script_tags('public-js') }}
</body>
</html>