<ul class="breadcrumb">
    {# <===== ROW EDITOR =====> #}
    {% if editor_table != null %}
        <li>
            <a class="selector-button btn-small" href="/admin/database/table?table={{ editor_table }}&page={{ editor_page }}">
                <strong>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </strong>
            </a>
        </li>
        <li class="count-text-in-menu">Row editor</li>
    {# <===== ROW ADD =====> #}
    {% elseif new_row_table != null %}
        <li>
            <a class="selector-button btn-small" href="/admin/database/table?table={{ new_row_table }}&page={{ new_row_page }}">
                <strong>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </strong>
            </a>
        </li>
        <li class="count-text-in-menu">New row</li>
    {# <===== TABLE VIEWER =====> #}
    {% elseif table_name != null %}
        <li>
            <a class="selector-button btn-small" href="/admin/database">
                <strong>
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </strong>
            </a>
        </li>
            <li> 
                <a class="selector-button btn-small" href="/admin/database/delete?table={{ table_name }}&page=1&id=all">
                    <strong>
                        <i class="fa fa-trash" aria-hidden="true"></i> 
                    </strong>
                </a>
            </li>
        {% if table_name != 'code_paste' and table_name != 'images' and table_name != 'chat_messages' and table_name != 'inbox_messages' and table_name != 'todos' %}
            <li>    
                {% if table_name != 'code_paste' and table_name != 'images' %}
                    <a class="selector-button btn-small" href="/admin/database/add?table={{ table_name }}&page={{ page }}">
                        <i class="fa fa-plus" aria-hidden="true"></i> 
                    </a>
                {% endif %}
            </li>
        {% endif %}
        {# <===== PROJECTS UPDATE BUTTON =====> #}
        {% if table_name == 'projects' %}
            <li>
                <a class="selector-button btn-small" href="/projects/update"><i class="project-update fas fa-sync"></i></a>
            </li>        
        {% endif %}

        {# <===== REGISTER NEW USER BUTTON =====> #}
        {% if table_name == 'users' %}
            <li>
                <a class="selector-button btn-small" href="/register"><strong>R</strong></a>
            </li>        
        {% endif %}
        <li class="count-text-in-menu">{{ table_name }} = {{ table_data_count_all }} rows</li>
    {% endif %}
</ul>
