{% extends 'common/bases/public-base.html.twig' %}

{% block header_class %} header-top {% endblock %}

{% block body %}
<section id="contact" class="contact section-show">
    <div class="container">

        {# <===== CONTACT-INFO =====> #}
        <div class="section-title">
            <h2>{{ 'Contact me'|trans }}</h2>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>{{ 'Social sites'|trans }}</h3>
                    <div class="social-links">
                        <a href="{{ instagram_link }}" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="{{ telegram_link }}" class="telegram"><i class="bi bi-telegram"></i></a>
                        <a href="{{ twitter_link }}" class="twitter"><i class="bi bi-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>{{ 'Email Me'|trans }}</h3>
                    <p>{{ contact_email }}</p>
                </div>
            </div>
        </div>

        {# <===== CONTACT-FORM =====> #}
        <div class="msg-from mt-4">
            {{ form_start(contact_form) }}

                {% if error_msg != null %}
                    <div class="error-message">{{ error_msg|trans }}</div>
                {% endif %}
                {% if success_msg != null %}
                    <div class="sent-message">{{ success_msg|trans }}</div>
                {% endif %}

                {# SET PLACEHOLDERS FOR TRANSLATE #}
                {{ form_widget(contact_form.name, {'attr': {'placeholder': 'Your name'|trans}}) }}
                {{ form_widget(contact_form.email, {'attr': {'placeholder': 'Your email'|trans}}) }}
                {{ form_widget(contact_form.message, {'attr': {'placeholder': 'Message'|trans}}) }}
                
                {{ form_widget(contact_form) }}                     
                <div class="text-center mt-3">
                    <button type="submit">{{ 'Submit message'|trans }}</button>
                </div>
            
            {{ form_end(contact_form) }}      
        </div>
    </div>
</section>
{% endblock %}
